.text {
  height: 8vh;
  width: 350px;
  background-color: #180f4f;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 10px;
}