.slider_row {
  height: 80px;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}
.slide {
  height: 60px;
  min-width: 80px;
  margin: 0px 3px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e0e0e0;
  text-align: center;
}
.slide_done {
  height: 60px;
  min-width: 80px;
  margin: 0px 3px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #4b4a4a;
  padding: 5px;
  text-align: center;
}

.slide > img,
.slide_active > img {
  height: 25px;
  margin: 5px 0px 5px 0px;
}
.slide_done > img {
  height: 22px;
  margin: 5px 0px 5px 0px;
}
.slide,
.slide_active,
.slide_done > p {
  font-size: 12px;
  line-height: 12px;
}

.slide::-webkit-scrollbar {
  display: none;
}
.slide_active {
  position: relative;
  height: 60px;
  min-width: 80px;
  margin: 0px 3px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #31bfaa;
  text-align: center;
}
